@CHARSET "ISO-8859-1";

.glyphicon{
	color:#47D1FF;
}

#ajouterplace{

	margin-top: 2cm;
	margin-bottom: 2cm;
	
}

#test11{
	
	margin-top: 0.75cm;
}

#footeressai{
	
	margin-bottom:0;
}

.copyright{
	
	color:white;
}

#ajouterplace {
	background-image: url(images/parking2.jpg);
	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: 100% ;		
   	background-position: center;
   
  	margin-top: 0cm;
  	margin-bottom: 0cm;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  
}

.form-group {
	color:white;
}
	
.checkbox	{
	color:white;





