@CHARSET "ISO-8859-1";

.glyphicon{
	color:#47D1FF;
}

#profil_emprunteur{

	margin-top: 0cm;
	margin-bottom: 0cm;
	
}


.img-circle{
	margin-top: 0.8cm;
	margin-bottom: 0.5cm;

}

#color{
	margin-bottom:1.5cm;
}

#bouton1{
	margin-top:1cm;
}


#footeressai{
	
	margin-bottom:0;
}

.copyright{
	
	color:white;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  
}