@CHARSET "ISO-8859-1";

/* Image d'arrière plan derrière la recherche */

#recherche {
	background-image: url(images/iphone.jpg);
	min-height: 650px;
    background-attachment:fixed;
    background-position: center;    
}

.form-inline{

    width: 10px;
    margin:30px;
    font-size:250%; 
} 

.form-group1{

	margin-top: 3cm;
}

label{
	color:#47D1FF;
}

.glyphicon{
	color:#47D1FF;
}


a[href*="enattente"]{
	
	color:#47D1FF;
	font-size:50%;
}

#avotreservice {
	
	margin-top: 2cm;
}

.text-muted {
	
	margin-top: 1cm;
}

button {
	
	margin-top: 2cm;
	text-align:center;
}

#team {
	
	margin-top: 1.5cm;
}

img {
	
	margin-top: 1.5cm;
	height:150px;
	width: 150px;
}


#contact{
	
	margin-top: 1.5cm;
	min-height: 100px;
    background-position: center;
    background-image: url(images/contact.jpg);
}


#contact1 {
	
	color:white;
}


h3 {
	
	color:white;
}


#contactForm{
	
	margin-top: 1cm;
}

#boutonenvoyer{
	margin-top: 0.5cm;
	margin-bottom: 0.5cm;
}

#footeressai{
	
	margin-bottom:0;
}

.copyright{
	
	color:white;
}


