@CHARSET "ISO-8859-1";


	
#tableau {
	
	min-height: 300px;
    background-attachment:fixed;
    background-position: center;  
    margin-top :90px;    
}


#tableau2 {
	
	min-height: 300px;
    background-attachment:fixed;
    background-position: center;  
    margin-top :90px;  
     
}

h2{
	margin-top: 70px;
	text-align:center;
}



.glyphicon{
	color:#47D1FF;
}

img {
	
	margin-top: 0cm;
	height:2cm;
	width: 2cm;
}

#footer{
	margin-bottom:0;
}

.copyright{
	color:white;
}
